<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/tentoufukuwarai.css">
    <link rel="icon" type="image/x-icon" href="../img/logos/tentouya_logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/logos/tentouya_logo.png">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

    <script>
        (function(d) {
            var config = {
                    kitId: 'jsg4fjz',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement,
                t = setTimeout(function() {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.onload = tk.onreadystatechange = function() {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded") return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {}
            };
            s.parentNode.insertBefore(tk, s)
        })(document);
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179081913-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-179081913-1');
    </script>

    <title>テントウ福笑い</title>
    <meta name="viewport" content="width=device-width">
</head>

<body oncontextmenu='return false;' oncopy='return false;'>
    <div class="bg">

        <div id="loading">
            <div class="loading-item-1">
                <div class="loading-item-item-1"></div>
                <div class="loading-item-item-1"></div>
            </div>
            <div class="loading-item-2">
                <div class="loading-item-item-2"></div>
                <div class="loading-item-item-2"></div>
            </div>
            <p>Loading..</p>
        </div>

        <header>
            <a href="index.html">
                <div class="logo protect">
                    <p><img src="../img/logos/tentouya_logo.png" alt="てんとうや"><span>てんとうや</span></p>
                </div>
            </a>
            <div class="arrow hide-on-phones">
                <p></p>
            </div>
            <a href="tentoufukuwarai.html" class="hide-on-phones">
                <div class="navigation">
                    <p>テントウ福笑い</p>
                </div>
            </a>
        </header>

        <h1>テントウ福笑い</h1>
        <h2>- バラバラになった模様を元の位置に戻してテントウムシを完成させよう! -</h2>

        <div class="flex-container">


            <a href="tentoufukuwarai_futahoshi.html" class="flex-item">
                <div class="flex-taxidermy"><img src="../img/fukuwarai/futahoshi/futahoshi_comp.png" class="taxidermy-img protect"></div>
                <div class="flex-title">
                    <p>フタホシテントウ</p>
                </div>
            </a>
            <a href="tentoufukuwarai_nanahoshi.html" class="flex-item">
                <div class="flex-taxidermy"><img src="../img/fukuwarai/nanahoshi/nanahoshi_comp.png" class="taxidermy-img protect"></div>
                <div class="flex-title">
                    <p>ナナホシテントウ</p>
                </div>
            </a>
            <a href="tentoufukuwarai_shirotohoshi.html" class="flex-item">
                <div class="flex-taxidermy"><img src="../img/fukuwarai/shirotohoshi/shirotohoshi_comp.png" class="taxidermy-img protect"></div>
                <div class="flex-title">
                    <p>シロトホシテントウ</p>
                </div>
            </a>

        </div>

        <footer>&copy; 2020 てんとうや</footer>

        <script>
            $("img").bind("contextmenu", function(e) {
                return false;
            });
            $(".protect").mousedown(function(e) {
                return false;
            });
        </script>
        <script>
            window.onload = function() {
                const spinner = document.getElementById('loading');
                spinner.classList.add('loaded');
            }
        </script>
    </div>
</body></html>
