<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/playarea.css">
    <link rel="icon" type="image/x-icon" href="/img/logos/tentouya_logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/logos/tentouya_logo.png">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

    <script>
        (function(d) {
            var config = {
                    kitId: 'jsg4fjz',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement,
                t = setTimeout(function() {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.onload = tk.onreadystatechange = function() {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded") return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {}
            };
            s.parentNode.insertBefore(tk, s)
        })(document);
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179081913-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-179081913-1');
    </script>

    <title>テントウ福笑い</title>
    <meta name="viewport" content="width=device-width">
</head>

<body oncontextmenu='return false;' oncopy='return false;'>
    <div class="bg">

        <div id="loading">
            <div class="loading-item-1">
                <div class="loading-item-item-1"></div>
                <div class="loading-item-item-1"></div>
            </div>
            <div class="loading-item-2">
                <div class="loading-item-item-2"></div>
                <div class="loading-item-item-2"></div>
            </div>
            <p>Loading..</p>
        </div>

        <header>
            <a href="/" class="logo protect">
                <p><img src="/img/logos/tentouya_logo.png" alt="てんとうや"><span>てんとうや</span></p>
            </a>
            <div class="arrow hide-on-phones">
                <p></p>
            </div>
            <a href="tentoufukuwarai.html" class="navigation hide-on-phones">
                <p>テントウ福笑い</p>
            </a>
            <div class="arrow hide-on-phones">
                <p></p>
            </div>
            <a href="/tentoufukuwarai/playarea/" class="navigation hide-on-phones">
                <p>フタホシテントウ</p>
            </a>
        </header>

        <h1>テントウ福笑い</h1>
        <h2>- フタホシテントウを作ってみよう! -</h2>

        <div class="explanation-box">
            <p class="explanation">パーツをドラッグすることでイラストに重ねられます。出来上がったら下の完成図と照らし合わせてみましょう。</p>
        </div>

        <div class="flex-container">

            <div class="flex-item-face">
                <img src="/img/fukuwarai/futahoshi/futahoshi_base.png" class="protect">
            </div>

            <div class="flex-item">
                <div class="flex-item-item">
                    <img src="/img/fukuwarai/futahoshi/futahoshi_1.png">
                </div>
                <div class="flex-item-item">
                    <img src="/img/fukuwarai/futahoshi/futahoshi_2.png">
                </div>

                <% if @item.s_img_num != 0 then %>
                <% for num in @item.l_img_num + 1..@item.l_img_num + @item.s_img_num do %>
                <div class="flex-item-item-100">
                    <img src="/images/<%= @item.name_e %>_<%= num %>.png">
                </div>
                <% end %>
                <% end %>
            </div>

            <details>
                <summary>完成図</summary>
                <img src="/images/<%= @item.name_e %>_comp.png" alt="<%= @item.name_j %>のイラスト_テントウ福笑い" title="<%= @item.name_j %>完成図" class="protect">
            </details>

        </div>

        <footer>&copy; 2020 てんとうや</footer>

        <script>
            $(".flex-item-item").draggable();
            $(".flex-item-item-100").draggable();

            $("img").bind("contextmenu", function(e) {
                return false;
            });
            $(".protect").mousedown(function(e) {
                return false;
            });
        </script>
        <script>
            window.onload = function() {
                const spinner = document.getElementById('loading');
                spinner.classList.add('loaded');
            }
        </script>
    </div>
</body></html>
